<div class="flip-card" (click)="flipOnClick()">
    <div class="flip-card-inner" [ngClass]="{'rotate':isFlipped}">
        <div class="flip-card-front">
            <img src="/assets/cartes/carte-recto.png" alt="Avatar" [ngStyle]="{'width.px': cardWith}">
        </div>
        <div class="flip-card-back">
            <img src="/assets/cartes/carte-verso-{{numero}}.png" alt="Avatar" [ngStyle]="{'width.px': cardWith}">
        </div>
    </div>
</div>
