
.flip-card {
  margin: 5px;
  background-color: transparent;
  width: 100%;
  perspective: 1000px;

  &:hover {
    cursor: pointer;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    &.rotate {
      transform: rotateY(180deg);
    }
  }

  .flip-card-front {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-back {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    //display: flex;
    //justify-content: center;
    //align-items: center;

  }
}
