<section class="espace-utilisateur">
    <div class="container-yellow" routerLink="/mon-deck">
        <h2>Mon deck de thèmes</h2>
    </div>

    <div class="container-yellow" (click)="onSignOut()">
        <h2>Se déconnecter</h2>
    </div>
    <div class="container-yellow" routerLink="/jouer">
        <h2>Jouer</h2>
    </div>
</section>

