@import "src/colors";

section {
  &.espace-utilisateur {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .container-yellow{
      width: 50%;
      max-width: 500px;
      min-width: 200px;
      margin-bottom: 15px;
      margin-top: 15px;

      transition: all 0.2s ease-in-out;

      &:hover{
        cursor: pointer;
        background-color: rgba($background-color-primary,0.9);
        transform: scale(1.05);
      }
    }
  }
}

:host {
  width: 100%;
}
