@import "../../../colors.scss";

.joueurs-container {
  width: 430px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  th {
    border: none;
    font-weight: 400;
    font-size: 18px;
    padding: 3px;
    margin-bottom: 20px;
  }

  tbody {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    td {

      height: 20px;
      text-align: left;
      border: none;
    }
  }

  form {
    align-self: flex-start;
    text-align: center;
    margin-top: 20px;
    width: 100%;

    input {
      padding: 5px;
      margin-bottom: 20px;
      width: 300px;
      background-color: rgba(white, 0.8);
    }

    label {
      margin-right: 10px;
    }
  }
}

.choix-container {
  width: 800px;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  p{
    color:$primary-text-color;
  }
  form{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    select{
      height: 20px;
    }
  }
  .carte-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 730px;
    overflow: auto;
    margin: 20px 0;

    &::-webkit-scrollbar {
      width: 10px; /* width of the entire scrollbar */
      height: 12px;
    }

    &::-webkit-scrollbar-track {
      background: $background-color-secondary; /* color of the tracking area */
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $background-color-primary; /* color of the scroll thumb */
      border-radius: 4px; /* roundness of the scroll thumb */
      border: 3px solid $background-color-secondary; /* creates padding around scroll thumb */
    }
  }
}

.fin-container {
  width: 100%;
  height: 100%;
}

.theme-container {
  width: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 24px;
  }

  td {
    width: 100%;

    .button-container {
      width: 100%;
      margin: 30px 0;

      .theme-btn {
        min-width: 375px;
        width: 40%;
        height: 150px;
        overflow: auto;
        border-color: $primary-text-color;

        &.selected {
          background: rgb(76 126 187);
        }

        &:hover {
          background: rgba($background-color-secondary, 0.4);
        }


        p {
          color: $primary-text-color;
          font-size: 18px;
        }
      }
    }
  }

  p {

  }

  .button-container {
    margin-top: 30px;
  }
}


.prestation {

  .presta-container {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    h3 {

    }

    p {
      width: 640px;
      margin-top: 30px;
      color: $primary-text-color;
      text-align: justify;
    }

    .button-container {
      position: relative;
      height: 40px;

      .btn {
        position: absolute;
        right: 0;
      }
    }
  }
}

app-carte {
  margin: 5px 5px;
}

table {
  width: 100%;
}

table th {
  background: $background-color-secondary;
  color: white;
  font-weight: bold;

}

table th, table td {
  border: 1px solid $primary-text-color;
}

.numero-container {
  width: 800px;
}

.score-container {
  width: 700px;
  height: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  img {
    width: 20px;
    height: 20px;
  }

  table th, table td {
    border: 1px solid black;
  }
}

table {
  width: 100%;
}

table th {
  background: $background-color-secondary;
  color: white;
  font-weight: bold;

}

.choixNum {
  .card-container {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    min-width: 400px;
    padding: 20px;

    p {
      text-align: center;
      padding-bottom: 10px;
      line-height: 20px;
      color: $primary-text-color;
    }

    div {
      p {
        color: $secondary-text-color;
      }
    }

    app-carte {
      margin: 20px;
      z-index: 20;
    }
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container .btn .theme-btn {
  padding-left: 2px;
}

.button-container .btn .theme-btn:hover, .button-container:focus {
  border-color: green;
}


