<section class="tableauJoueurs" *ngIf="tableauJoueurs">
    <div class="joueurs joueurs-container container-yellow">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead">
            <tr>
                <th scope="col">Joueurs (4 à 10 joueurs) :</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let joueur of joueurs, let i = index">
                <td>Joueur {{i + 1}} : {{joueur.pseudo}}</td>
            </tr>
            </tbody>
        </table>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <input type="text" id="pseudo" class="form-control" name="pseudo" ngModel
                       placeholder="Ajouter un joueur" style="padding-left:3px ">
            </div>
            <div class="button-container">
                <button class="btn" type="submit">Ajouter</button>
                <button class="btn" (click)="Jouer()">L'équipe est toca !</button>
            </div>
        </form>

    </div>
</section>
<section class="choixTheme" *ngIf="choixThemes ">
    <div class="theme theme-container container-yellow">
        <h2>{{pseudo}} tu es le capitaine de la manche ! Choisis ton thème :</h2>
        <td>
            <div class="button-container">
                <button id="1" class="btn theme-btn" (click)="choixTheme(1)">
                    <p>{{themePropose1.mainText}} {{themePropose1.determinant1}}
                        <span style="color:darkgreen;">{{themePropose1.basseIntensiteText}}</span> {{themePropose1.determinant2}}
                        <span style="color:rgba(193,36,2,1);">{{themePropose1.hauteIntensiteText}}</span>
                    </p>
                </button>
                <button id="2" class="btn theme-btn" (click)="choixTheme(2)">
                    <p>{{themePropose2.mainText}} {{themePropose2.determinant1}}
                        <span style="color:darkgreen;">{{themePropose2.basseIntensiteText}}</span> {{themePropose2.determinant2}}
                        <span style="color:rgba(193,36,2,1);">{{themePropose2.hauteIntensiteText}}</span>
                    </p>
                </button>
            </div>
        </td>
        <div class="button-container">
            <button class="btn" (click)="distributionNumero()">Suivant</button>
        </div>
    </div>
</section>
<section class="choixNum" *ngIf="repartitionNumero">
    <div class="card card-container container-yellow">
        <p>C'est à {{pseudo}} de jouer !</p>
        <p>Clique sur ta carte pour découvrir ton numéro :</p>
        <app-carte
                [numero]="numero"
                [cardWith]="cardWith"
                [cardHeight]="cardHeight"
                [isFlipped]="isFlipped"
                (flipCardEvent)="isFlipped=$event"
        ></app-carte>
        <div>
            <p>As-tu bien vu ton numéro ?</p>
            <div class="button-container">
                <button class="btn" (click)="Vu()">Oui</button>
            </div>
        </div>
    </div>
</section>
<section class="prestation" *ngIf="prestation">
    <div class="presta presta-container container-yellow">
        <h2> {{pseudo}} commence, tournez ensuite dans le sens des aiguilles d'une montre.</h2>
        <p><span style="text-decoration: underline">Thème :</span>
            "{{themeChoisi.mainText}} {{themeChoisi.determinant1}}
            <span style="color:darkgreen;">{{themeChoisi.basseIntensiteText}}</span> {{themeChoisi.determinant2}}
            <span style="color:rgba(193,36,2,1);">{{themeChoisi.hauteIntensiteText}}"</span>
        </p>
        <p *ngIf="tableauNumerosNonPresent.size != 0">Les numéros non-piochés sont les suivants :</p>
        <div *ngIf="tableauNumerosNonPresent.size != 0">
            <td *ngFor="let numero of tableauNumerosNonPresent;">
                <app-carte
                        [numero]="numero"
                        [cardWith]="cardWith"
                        [isFlipped]="isFlipped"
                ></app-carte>
            </td>
        </div>
        <div class="button-container">
            <button class="btn" (click)="ordreJoueur()">Rank them</button>
        </div>
    </div>
</section>
<section class="choix" *ngIf="choixOrdreJoueur">
    <div class="choix choix-container container-yellow">
        <h2> RANK THEM !</h2>
        <form>
            <p class="extreme-low"><span class="extreme-low">0</span></p>
            <select id="{{joueur.pseudo}}" *ngFor="let joueur of joueurs;">
                <option selected="selected" class="btn" value="{{joueur.numero}}"
                        *ngFor="let joueur of joueurs">{{joueur.pseudo}}</option>
            </select>
            <p class="extreme-high"><span class="extreme-high">10</span></p>
        </form>
        <div *ngIf="!revelation">
            <div class="button-container">
                <button class="btn" (click)="resultatOrdreJoueurs()">Valider</button>
            </div>
        </div>
        <div *ngIf="revelation">
            <p>Voici l'ordre que tu as choisi :</p>

            <div class="carte-container">
                <app-carte *ngFor="let numero of numeros;"
                           [numero]="numero"
                           [cardWith]="cardWith"
                           [cardHeight]="cardHeight"
                ></app-carte>
            </div>
            <div class="button-container">
                <button class="btn" (click)="finJeu()">Voir les scores</button>
            </div>
        </div>
    </div>
</section>
<section class="score" *ngIf="score">
    <div class="score score-container container-yellow">
        <h2>Score</h2>
        <table class="table table-striped table-bordered table-hover" style="margin-top: 30px">
            <thead class="thead">
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Couronnes</th>
                <th scope="col">Chapeaux de Bouffon</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let joueur of joueurs">
                <td>{{joueur.pseudo}}</td>
                <td> {{joueur.nombreCouronne}}<img src="assets/couronne.png"></td>
                <td>{{joueur.nombreBouffon}}<img src="assets/bouffon.png"></td>
            </tr>
            </tbody>
        </table>
        <div class="button-container" style="margin-top: 20px">
            <button class="btn" (click)="partieSuivante()">Manche suivante</button>
        </div>
    </div>
</section>
<section class="Fin" *ngIf="finDuJeu">
    <div class="fin fin-container container-yellow">
        <p>Fin Du Jeu!</p>
    </div>
</section>
