<nav>
    <button class="accueil-btn" routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
        <span>Accueil</span>
    </button>
    <div class="logo-container">
        <img class="logo" src="/assets/logo2.png" alt="">
    </div>
    <button class="regles-btn" (click)="AfficherRegles()" routerLinkActive="active">
        <span *ngIf="!afficherRegles">Règles</span>
        <span *ngIf="afficherRegles">Fermer</span>
    </button>

    <app-regles *ngIf="afficherRegles"></app-regles>
</nav>
<div class="router-outlet-container">
    <router-outlet></router-outlet>
</div>

<footer>
    <div class="footer-container">
        <img src="assets/bouffon.png" alt="">
        <img class="doigt" src="assets/doigt.png" alt="">
        <img src="assets/couronne.png" alt="">
    </div>
</footer>


