@import "../colors";

nav {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-container {
    img {
      width: 250px;
    }
  }

  button {
    position: absolute;
    top: 3%;
    min-width: 80px;
    background-color: rgba($background-color-primary, 0.5);
    border: 2px solid #395690;
    &.regles-btn {
      right: 5%;
    }
    &.accueil-btn {
      left: 5%;
    }
    &.active {
      color: $background-color-secondary;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img:first-of-type {
      width: 150px;
    }

    img:last-of-type {
      width: 150px;

    }

    img {
      width: 80px;
      overflow: hidden;

      &.doigt {
        //transform-origin: 15% bottom;
        animation: AnimDoigt 8000ms;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        //animation-direction: normal;
      }
    }

    @keyframes AnimDoigt {
      0% {
      }
      25% {
        transform: translateX(-200px) rotate(-90deg);
      }
      26% {

      }
      50% {
        transform: translateX(0px) rotate(0deg);
      }
      51% {

      }
      75% {
        transform: translateX(200px) rotate(90deg);
      }
      100% {
      }
    }
  }
}

.router-outlet-container {
  height: 60vh;
  max-height: 60vh;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: $background-color-secondary; /* color of the tracking area */
    border-radius: 1px 5px 5px 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $background-color-primary; /* color of the scroll thumb */
    border-radius: 5px; /* roundness of the scroll thumb */
    border: 3px solid $background-color-secondary; /* creates padding around scroll thumb */
  }
}

