.regles-section {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 5%;
  height: 55vh;
  z-index: 2000;
}

.regles-section__container {
  font-size: 18px;
  h2 {
    font-size: 30px;
    margin-bottom: 2%;
  }
}

.regles-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .explications-group {
    min-width: 350px;
    width: 28%;
    padding-right: 2%;
    padding-left: 2%;
    text-align: justify;
  }
}

.explications-group {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
p {
  margin-top: 5%;
}
div {
  text-align: center;
  .titre {
    font-size: 24px;
    font-style: italic;
  }
  .emoji {
    padding-top: 25px;
  }
}