<section class="regles-section">
    <div class="regles-section__container container-yellow">
        <h2>Règles</h2>
        <div class="regles-container">
            <div class="explications-group">
                <div class="titre" for="titre1">
                    Préparations
                </div>
                <p>Avant de se lancer dans une folle partie de ranked, il est important de bien saisir chaque subtilité du jeu ! <br>
                    Celle-ci commence par la constitution d'un groupe de 4 à 10 personnes. Ranked se charge d'élire aléatoirement un Capitaine pour la manche.
                    Ce dernier pourra choisir un thème entre les 2 proposés. <br>
                    Puis, chaque joueur retourne alternativement la carte qui lui est attribué afin de découvrir son numéro. <br>
                </p>
                <div class="img">
                    <img class="emoji" width="54" src="/assets/emoji-team.png" alt="">
                </div>
            </div>
            <div class="explications-group">
                <div class="titre">
                    Prestations
                </div>
                <p>Un rappel du thème s'affiche alors à l'écran. Chaque joueur y répond en fonction de son numéro qui défini l'intensité de sa prestation !<br>
                    Par exemple, le joueur qui a le numéro 1 devra répondre ou agir au plus proche de l'extrême en  <span style="color:darkgreen;">vert</span> tandis que le joueur
                    avec le numéro 10, à l'inverse, devra répondre en fonction de l'extrême en <span style="color:rgba(193,36,2,1);">rouge</span>.<br>
                    <span style="text-decoration: underline;">Astuce :</span> N'hésitez pas à vous appuyez sur les histoires des autres joueurs !
                </p>
                <div class="img">
                    <img class="emoji" width="52" src="/assets/emoji-rire.png" alt="">
                </div>
            </div>
            <div class="explications-group">
                <div class="titre">
                    Score
                </div>
                <p>
                    Après avoir entendu toutes les réponses, le Capitaine de la manche doit retrouver l'ordre croissant des numéros.
                    S'il a tout juste, il reçoit une couronne. Sinon, il reçoit un chapeau de bouffon par erreur. <br>
                    Et cette première manche est finie.
                    A chaque manche, un nouveau joueur devient le capitaine jusqu'à ce que tout le monde le soit une fois. <br>
                    N'attendez plus et lancez vous dans une session Ranked marquera vos esprits !
                </p>
                <div class="img">
                    <img class="emoji" width="50" src="/assets/emoji-score.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>