<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="pseudo">
            Pseudo
          </label>
          <input type="text" id="pseudo" class="form-control" name="pseudo" ngModel>
        </div>
        <div class="form-group">
          <label for="email">
            Email
          </label>
          <input type="text" id="email" class="form-control" name="email" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Ajouter</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pseudo</th>
      <th scope="col">email</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.pseudo}}</td>
      <td>{{user.email}}</td>
      <td><button type="button" class="btn btn-danger deleteButton" (click)="deleteUser(user.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Theme</th>
      <th scope="col">User_id</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let theme of themes">
      <td>{{theme.id}}</td>
      <td>{{theme.mainText}} {{theme.determinant1}} <span class="intensite-basse">{{theme.basseIntensiteText}}</span> {{theme.determinant2}} <span class="intensite-haute">{{theme.hauteIntensiteText}}</span></td>
      <td>{{theme.userId}}</td>
      <td><button type="button" class="btn btn-danger deleteButton" (click)="deleteTheme(theme.id,theme.userId)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>



