$primary-text-color: #2a2a2a;
$primary-text-color-light: #F1FAF6;
$secondary-text-color: #395690;

$background-color-primary: #fbe755;
$background-color-secondary:#395690;

$extreme-high-color: #C12402;
$extreme-low-color: #006400;


