/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "colors";

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

nav {
  button {
    min-width: 150px;
    padding: 10px;
    text-align: center;
    background-color: rgba($primary-text-color, 0);
    border: solid $primary-text-color 1px;
    border-radius: 3px;
    transition: all .2s linear;

    &:hover {
      // background-color: rgba($primary-text-color, 1);
      background: radial-gradient(circle, lighten(black, 5) 50%, darken(rgba(0, 0, 0, 0.61), 10) 100%);
      color: $background-color-primary;
      transition: all .2s linear;
      cursor: pointer;
    }
  }
}

body {
  background: linear-gradient(
                  180deg, rgba(87, 172, 189, 1) 0%, rgba(66, 78, 189, 1) 100%);
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.textura {
  position: absolute;
  top: 0;
  width: 105%;
  z-index: -10;
  background-image: url(/assets/textura2.png);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(-70px);
  height: 100vh;
}

.button-container {
  justify-content: flex-start;

  button:disabled {
    color: $primary-text-color;
    border: solid 1px $primary-text-color;
    background-color: rgba($primary-text-color, 0.1);

    &:hover {
      color: $background-color-primary;
    }
  }

  a {
    margin-left: 15px;
  }
}

.container-yellow {
  max-height: 55vh;
  overflow: auto;
  box-shadow: rgba(22, 31, 39, 0.42) 0 60px 80px -25px,
  rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  //border: 2px solid rgba($primary-text-color, 1);
  border-radius: 10px;
  background-color: rgba($background-color-primary, 1);
  padding: 1.5em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  &::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: $background-color-secondary; /* color of the tracking area */
    border-radius: 1px 5px 5px 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $background-color-primary; /* color of the scroll thumb */
    border-radius: 5px; /* roundness of the scroll thumb */
    border: 3px solid $background-color-secondary; /* creates padding around scroll thumb */
  }

  h2 {
    color: $primary-text-color;
    font-weight: bold;
    letter-spacing: 1px;
  }

  p {
    color: $secondary-text-color;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      min-width: 150px;
      padding: 10px;
      text-align: center;
      background-color: rgba($primary-text-color, 0);
      border: solid $primary-text-color 1px;
      border-radius: 3px;
      transition: all .2s linear;

      &:hover {
       // background-color: rgba($primary-text-color, 1);
        background: radial-gradient(circle, lighten(black, 5) 50%, darken(rgba(0, 0, 0, 0.61), 10) 100%);
        color: $background-color-primary;
        transition: all .2s linear;
        cursor: pointer;
      }

      &:disabled {
        color: rgba($primary-text-color, 0.4);
        border-color: rgba($primary-text-color, 0.4);

        &:hover {
          color: $background-color-primary;
        }
      }
      &::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
      }

      &::-webkit-scrollbar-track {
        background: $background-color-secondary; /* color of the tracking area */
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $background-color-primary; /* color of the scroll thumb */
        border-radius: 5px; /* roundness of the scroll thumb */
        border: 3px solid $background-color-secondary; /* creates padding around scroll thumb */
      }
    }
  }

  a {
    color: $secondary-text-color;
    font-size: 15px;

    &:hover {
      cursor: pointer;
      color: blue;
    }
  }

  .inscription-connexion-form {
    input {
      margin-bottom: 20px;
      width: 300px;
      background-color: rgba($background-color-secondary, 0.3);
    }
  }
}

.extreme-low {
  color: $extreme-low-color;
}

.extreme-high {
  color: $extreme-high-color;
}

.text-erreur{
  margin-top: 10px;
  color:$extreme-high-color;
}
