<section class="modifier-container">
    <div class="container-yellow form-container">
        <a class="arrow-back-button" routerLink="/mon-deck"><--</a>
        <h2>Deck de {{user.pseudo}} : {{themes.length}} de thème(s) </h2>
        <table>
            <tr *ngFor="let theme of themes">
                <td>
                    <p>{{theme.mainText.toUpperCase()}} {{theme.determinant1.toUpperCase()}} <span
                            style="color:darkgreen;">{{theme.basseIntensiteText.toUpperCase()}}</span> {{theme.determinant2.toUpperCase()}} <span
                            style="color:rgba(193,36,2,1);">{{theme.hauteIntensiteText.toUpperCase()}}</span>
                    </p>
                    <div class="separator"></div>
                </td>
                <td>
                    <div class="delete-button" (click)="deleteTheme(theme.id,user.id)">
                        <img src ="../../../../../assets/delete-button.png" alt="">
                    </div>
                </td>
            </tr>
        </table>

        <div class="button-container">
            <button class="btn" routerLink="/mon-deck">Retour</button>
        </div>
    </div>
</section>
