@import "../../../../../colors";

section {
  &.modifier-container {
    position: relative;
    .arrow-back-button{
      font-size: 18px;
      text-decoration: none;
      position: absolute;
      top: 5%;
      left: 2%;
      :hover{
        cursor: pointer;
      }
    }

    h2{
      color:$secondary-text-color;
      margin-bottom: 10px;
    }

    table {
      tr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        td {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          p {
            color:$primary-text-color;
            width: 750px;
            padding: 20px;
            font-size: 14px;
          }

          .separator {
            width: 250px;
            border-bottom: solid 1px black;
          }
        }

        .delete-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 5px;
          border: solid 2px black;
          margin-top: -3px;
          img{
            width: 25px;
          }
          &:hover{
            cursor: pointer;
            background-color: rgba($extreme-high-color,1);
          }
        }
      }
    }

    .container-yellow {
      .success {
        color: green;
        text-align: left;
      }

      .button-container {
        padding-top: 1em;
        justify-content: space-between;
      }
    }
  }
}

:host {
  max-height: 60vh;
}
