<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="pseudo">
            Pseudo
          </label>
          <input type="text" id="pseudo" class="form-control" name="pseudo" ngModel>
        </div>
        <div class="form-group">
          <label for="email">
            Email
          </label>
          <input type="text" id="email" class="form-control" name="email" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Ajouter</button>
      </form>
    </div>
  </div>
</div>
