<section class="connexion-section">
    <div class="connexion-section__container container-yellow">
        <h2>Connecte toi pour personnaliser ta game !</h2>
        <form class="inscription-connexion-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="form__group">
                <label id="email-label" for="email">
                    E-mail
                </label>
                <input type="email" id="email" name="email-input" class="form-control" formControlName="email">
            </div>
            <div class="form__group">
                <label for="password">
                    Mot de passe
                </label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <div class="button-container">
                <button class="btn" type="submit" [disabled]="signInForm.invalid">Se connecter</button>
                <a routerLinkActive="active" [routerLink]="['/inscription']">Pas encore inscrit ? Crée ton compte
                    ici
                    !</a>
            </div>
        </form>
        <p class="text-erreur">{{ errorMessage }}</p>
    </div>
</section>
