<section class="inscription-section">
  <div class="inscription-section__container container-yellow">
    <h2>Inscris toi pour personnaliser ta game !</h2>
    <form class="inscription-connexion-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label id="email" for="mail">
          E-mail
        </label>
        <input type="text" id="mail" class="form-control" formControlName="email" placeholder="">
      </div>
      <div class="form-group">
        <label for="password">
          Mot de passe
        </label>
        <input type="password" id="password" class="form-control" formControlName="password" placeholder="6 lettres minimum">
      </div>
      <div class="form-group">
        <label class="pseudo" for="pseudo">
          Pseudo
        </label>
        <input type="text" id="pseudo" class="form-control" formControlName="pseudo" placeholder="">
      </div>
      <div class="button-container">
        <button class="btn" type="submit" [disabled]="signupForm.invalid">S'inscrire</button>
        <a routerLinkActive="active" [routerLink]="['/connexion']">Déjà inscrit ? Connecte toi ici !</a>
      </div>
    </form>
    <p class="text-erreur">{{ errorMessage }}</p>
  </div>
</section>
