@import "../../../../colors";

.inscription-section{

  $shake-intensity: 3%;

  &__container{
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    form{
      align-self: flex-start;
      text-align: left;
      margin-top: 40px;

      .form {
        &__group {
          & input {
            margin-left: 54px;
            &:active, &:focus {
              border: 2px solid $secondary-text-color;
            }
            &:not(:focus):invalid {
              color: white;
              border: 2px solid black;
              background: $extreme-high-color;
              animation: headshake 150ms cubic-bezier(.4,.1,.6,.9);
            }
          }
        }
      }

      @keyframes headshake {
        25% {
          // entièrement à droite
          transform: translateX($shake-intensity);
        }
        75% {
          // entièrement à gauche
          transform: translateX($shake-intensity * -1);
        }
      }
      input::placeholder {
        color: $secondary-text-color;
      }

      label{
        margin-right: 10px;
        &#email{
          margin-right: 65px;
        }
        &.pseudo{
          margin-right: 56px;
        }
      }
    }
  }
}
