@import "../../../colors.scss";

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    .accueil-container {
      height: 200px;
      width: 430px;
      &.jouer {
        &.jouer {
          transition: all 0.25s ease-in-out;
        }
        &.jouer:hover{
          transform: scale(1.05);
        }
        h2 {

        }
      }
      &.login {
        h5 {
          height: 30px;
        }
        &.login {
          transition: all 0.25s ease-in-out;
        }
        &.login:hover{
          transform: scale(1.05);
        }
      }
    }
  }
}


:host {
  width: 100%;
}





