<div class="section-container">
    <section>
        <div class="jouer accueil-container container-yellow">
            <h2>Bienvenue dans Ranked Game</h2>
            <p>Formez une équipe de 4 à 10 Rankers</p>
            <p>Chauffez votre voix et préparez votre meilleur jeu d'acteur</p>
            <div class="button-container">
                <button class="btn" [routerLink]="['/jouer']">Jouer</button>
            </div>
        </div>
        <div class="login accueil-container container-yellow">
            <h2>Personnalise ton deck de thème</h2>
            <p>Suggestion : Ajoutez chacun un thème qui surprendra vos amis </p>
            <p>Rendez votre partie unique en étant créatif </p>
            <h4>Par exemple:</h4>
            <h5>
            </h5>
            <div class="button-container">
                <button class="btn" [routerLink]="['/connexion']">Se Connecter</button>
                <button class="btn" [routerLink]="['/inscription']">S'inscrire</button>
            </div>
        </div>
    </section>
</div>

