<section class="ajouter-container">
    <div class="container-yellow form-container">
        <form [formGroup]="addThemeForm" (ngSubmit)="onSubmit()">
            <table>
                <tr>

                    <td>THÈME PRINCIPAL</td>
                    <td>DE/DU</td>
                    <td class="basseIntensiteText">BASSE INTENSITÉ</td>
                    <td>À/AU</td>
                    <td class="hauteIntensiteText">HAUTE INTENSITÉ</td>
                </tr>
                <tr>

                    <td>
                        <input type="text" id="themePrincipal" class="form-control" formControlName="mainText"
                               placeholder="Vos vacances de rêves tournent au cauchemar. Décrivez la raison">
                    </td>
                    <td>
                        <select name="determinant1" id="determinant1" formControlName="determinant1">
                            <option>DE</option>
                            <option>DU</option>
                        </select></td>
                    <td>
                        <input type="text" id="basseIntensiteText" class="basseIntensiteText"
                               formControlName="basseIntensiteText"
                               placeholder="la plus sensée"></td>
                    <td>
                        <select name="determinant2" id="determinant2" formControlName="determinant2">
                            <option>À</option>
                            <option>AU</option>
                        </select></td>
                    <td>
                        <input type="text" id="hauteIntensiteText" class="hauteIntensiteText"
                               formControlName="hauteIntensiteText"
                               placeholder="la plus improbable"></td>
                    <td>
                    </td>

                </tr>
            </table>

            <div class="button-container">
                <button class="btn" type="submit" [disabled]="addThemeForm.invalid">Ajouter</button>
                <p class="success" *ngIf="displaySuccessMessage">NOUVEAU THÈME ENREGISTRE</p>
                <button class="btn" routerLink="/mon-deck">Retour</button>
            </div>
        </form>
    </div>
</section>
