@import "../../../../../colors";

section {
  &.ajouter-container {
    form {
      table {
        td {
          text-align: center;
          #themePrincipal {
            width: 450px;
          }
          #determinant1, #determinant2 {
            width: 45px;
          }
          #basseIntensiteText, #hauteIntensiteText {
            width: 200px;
          }
          &.basseIntensiteText, #basseIntensiteText {
            color: green;
          }
          &.hauteIntensiteText, #hauteIntensiteText {
            color: red;
          }
          input, select{
            text-align: center;
            height: 18px;
            margin-top: 8px;
          }
          select{
            height: 22px;
          }
        }
      }
    }
    .container-yellow {
      .success{
        color: green;
        text-align: left;
      }
      .button-container {
        padding-top: 2em;
        justify-content: space-between;
      }
    }
  }
}
